.projects-page {
  max-width: 1500px;
  margin: 0 auto;
  padding: 25px;
}

.projects-title {
  text-align: left;
  font-size: 3.125rem;
  margin-bottom: 25px;
  color: #000;
}

.projects-subtitle {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 50px;
  color: #333;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 25px;
  margin-top: 25px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.project-card:hover {
  transform: translateY(-6.25px);
}

.project-image {
  width: 100%;
  max-width: 100%;
  height: 250px; /* Set a fixed height for images */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  display: block;
}

.project-details {
  padding: 25px;
  text-align: left;
}

.project-details h3 {
  font-size: 1.875rem;
  margin-bottom: 12.5px;
  color: #000;
}

.project-details p {
  font-size: 1.25rem;
  color: #555;
}

/* Ensures links have no underline and are black */
.project-card a {
  text-decoration: none; /* Remove underline */
  color: #000; /* Set link color to black */
}

.project-card a:hover {
  color: #000; /* Keep hover color black */
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .projects-page {
    padding: 20px;
  }

  .projects-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .projects-subtitle {
    font-size: 1.25rem;
    margin-bottom: 40px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .project-card:hover {
    transform: translateY(-5px);
  }

  .project-image {
    height: 200px;
  }

  .project-details {
    padding: 20px;
    text-align: left;
  }

  .project-details h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .project-details p {
    font-size: 1rem;
  }
}